body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Hanuman', serif;
    color: #2C2C2C;
}

a, a:visited {
    text-decoration: none;
    color: #2C2C2C;
}

a:hover {
    cursor: pointer;
}

ul {
    list-style: none;
}

.top-nav {
    overflow: hidden;
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    background-color: #FFFFFF;
    width: 100%;
}
.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    display: flex;
    margin: 0 2rem;
}

.gs-logo {
    height: 7rem;
    width: auto;
}

.photo-slider {
    height: 20rem;
    position: relative;
    margin: auto;
}

.home-page-slider-img {
    width: 100%;
    height: 30rem;
    display: none;
    object-fit: cover;
}

.dots {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 0.5rem;
    width: 0.5rem;
    margin: 0 0.25rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 13rem;
}

footer > div {
    padding: 1rem;
    font-size: 0.8rem;
}

.accred-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    margin: 0 3rem;
}

.accred-logo {
    padding: 0 1rem;
}

.accred-logo img {
    height: 4rem;
    width: auto;
    border-radius: 5px;
}

/* @media (max-width: ) */